<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./layouts/imports') %>
        <title>Real Estate</title>
</head>

<body>
    <div class="home">

        <!-- Opening -->
        <div class="background d-flex justify-content-center">
            <div class="middle-area d-flex flex-column justify-content-center align-items-center">
                <a href="/">
                    <h1 class="brand d-flex align-items-center"><i class="fa-solid fa-house-chimney me-3"></i><span
                            class="fw-bolder">REAL ESTATE</span></h1>
                </a>
                <div class="input-group mb-3 rounded-pill my-5">
                    <input type="text" class="form-control p-2"
                        placeholder="Search a location... (e.g. : Ankara, Istanbul)">
                    <button class="btn btn-danger px-3" type="button"><i
                            class="fa-solid fa-magnifying-glass"></i></button>
                </div>
                <div class="mt-4 d-flex justify-content-center">
                    <a href="/sale">
                        <div class="search-button mx-5 fs-3 d-flex flex-column align-items-center">
                            <i class="fa-solid fa-house-lock"></i>
                            <p>Sale</p>
                        </div>
                    </a>
                    <a href="/rent">
                        <div class="search-button mx-5 fs-3 d-flex flex-column align-items-center">
                            <i class="fa-solid fa-house-circle-exclamation"></i>
                            <p>Rent</p>
                        </div>
                    </a>
                    <a href="/houses/new">
                        <div class="search-button mx-5 fs-3 d-flex flex-column align-items-center">
                            <i class="fa-solid fa-house-chimney-medical"></i>
                            <p>Sell</p>
                        </div>
                    </a>
                </div>
            </div>
            <div
                class="position-absolute d-flex flex-column align-items-center fs-5 lh-1 bottom-0 start-50 translate-middle">
                <p>Scroll down to take a look</p>
                <i class="fa-solid fa-chevron-down"></i>
            </div>
        </div>
        <!-- Opening End -->

        <!-- Discover -->
        <div class="discover container-md py-5" id="discover">

            <!-- Sale -->
            <h2 class="mb-3 fw-light p-2 border-bottom">New Sale Listings</h2>
            <div class="cards mb-5 row">

                <% sales.forEach((house,index)=>{ %>
                    <div class="p-2 col-sm-6 col-md-4 col-lg-3">
                        <div class="card m-0">
                            <img src="<%= house.dataValues.imageUrls[1]%>" class="card-img-top house-image"
                                alt="house-image">
                            <div class="card-body fs-5">
                                <h5 class="card-title mb-3 fs-4 price">
                                    <%= house.dataValues.price %> ₺
                                </h5>
                                <p class="info">
                                    <%= house.dataValues.type.toUpperCase() %> | 
                                    <%= house.dataValues.rooms %> | 
                                    <%= house.dataValues.grossSquareMeter%>m² | 
                                    <%= house.dataValues.floor %>. Floor
                                </p>
                                <p class="location">
                                    <%= house.dataValues.District.dataValues.name %> / <%= house.dataValues.City.dataValues.name %>
                                </p>
                                <div class="d-flex justify-content-end">
                                    <a href="/houses/<%= house.dataValues.id %>" class="btn btn-danger me-3 w-50"><i
                                            class="fa-solid fa-magnifying-glass"></i></a>
                                    <a href="/houses/<%= house.dataValues.id %>/favorite"
                                        class="btn btn-outline-danger w-50">
                                        <% if(favs[index]){ %>
                                            <i class="fa-solid fa-heart"></i>
                                            <% }else{ %>
                                                <i class="fa-regular fa-heart"></i>
                                                <% } %>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% }) %>

            </div>
            <!-- Sale End -->

            <!-- Rent -->
            <h2 class="my-3 fw-light p-2 border-bottom"">New Rent Listings</h2>
          <div class=" cards mb-5 row">

                <% rents.forEach((house,index)=>{ %>
                    <div class="p-2 col-sm-6 col-md-4 col-lg-3">
                        <div class="card m-0">
                            <img src="<%= house.dataValues.imageUrls[1]%>" class="card-img-top house-image"
                                alt="house-image">
                            <div class="card-body fs-5">
                                <h5 class="card-title mb-3 fs-4 price">
                                    <%= house.dataValues.price %> ₺
                                </h5>
                                <p class="info">
                                    <%= house.dataValues.type.toUpperCase() %> | <%= house.dataValues.rooms %> | <%=
                                                house.dataValues.grossSquareMeter%>m² | <%= house.dataValues.floor %>.
                                                    Floor
                                </p>
                                <p class="location">
                                    <%= house.dataValues.District.dataValues.name %> / <%=
                                            house.dataValues.City.dataValues.name %>
                                </p>
                                <div class="d-flex justify-content-end">
                                    <a href="/houses/<%= house.dataValues.id %>" class="btn btn-danger me-3 w-50"><i
                                            class="fa-solid fa-magnifying-glass"></i></a>
                                    <a href="/houses/<%= house.dataValues.id %>/favorite"
                                        class="btn btn-outline-danger w-50">
                                        <% if(favs[index+sales.length]){ %>
                                            <i class="fa-solid fa-heart"></i>
                                            <% }else{ %>
                                                <i class="fa-regular fa-heart"></i>
                                                <% } %>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% }) %>

        </div>
        <!-- Rent End -->

    </div>
    <!-- Discover End -->

    </div>
    <%- include('./layouts/footer') %>
</body>

</html>